<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNeWxWRi5hilYRUhsnV97HNKntGwAPanM</string>
	<key>GCM_SENDER_ID</key>
	<string>37837366849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasKelompok3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uas-kelompok3-ab415</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-kelompok3-ab415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37837366849:ios:24c6df5f1325d2af5688c0</string>
</dict>
</plist>